h1 {
  color: green;
}

body {
  text-align: center;
  margin: auto;
}

.header {
  overflow: hidden;
  background-color: black;
  padding: 20px 10px;
  color: white;
  font-size: 30px;
}

.padding-top-30 {
	padding-top: 30px;
}

.margin-top-10 {
	margin-top: 10px;
}